<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <link rel="stylesheet" href="outputViewer.css">
    <script src="lib/jquery.js" charset="utf-8"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/d3.js" charset="utf-8"></script>
    <script src="lib/underscore.js"></script>
    <script src="testView.js"></script>
</head>
<body>
<div id="loader" class="container">
    <label>
        Select a results file to load:
        <select id="loader-select">
            <option value="next.json">
                Next
            </option>
            <option value="no-bar-extension.json">
                Without regular layout extension
            </option>
            <option value="bar-extension.json">
                With regular layout extension
            </option>
            <option value="axisfix.json">
                With working axes
            </option>
            <option value="global-scales.json">
                Global scales
            </option>
            <option value="manual-matching-0318.json">
                Manual Matching (03/18)
            </option>
        </select>
    </label>
    <br/>
    <label>
        <button id="flip-colors">Flip page colors</button>
    </label>
</div>
<hr>
<div id="transfers" class="container-fluid">
</div>

</body>
</html>
