img.sourceImg {
    /*transform: scale(0.5);*/
    width: 90%;
}

.container-fluid {
    margin: 50px;
}

h2 {
    margin-left: -50px;
    color: black;
    font-family: "Helvetic Neue", Helvetica, sans-serif;
    font-weight: 700;
}

div.row {
    border-bottom: 1px solid lightgray;
}

div.result-container h3 {
    bottom: 0;
    left: 0;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}