<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <link rel="stylesheet" href="outputViewer.css">
    <script src="lib/jquery.js" charset="utf-8"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/d3.js" charset="utf-8"></script>
    <script src="lib/underscore.js"></script>
    <script src="testView.js"></script>
</head>
<body>
<div id="transfers" class="container-fluid">
</div>

</body>
</html>
