* {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
}

img.sourceImg {
    /*transform: scale(0.5);*/
    width: 90%;
}

.container {
    margin-top: 15px;
}

.container-fluid {
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
    color: black;
    font-family: "Avenir", Helvetica, sans-serif;
    font-weight: 400;
    font-variant: small-caps;
}

div.result-container h3 {
    font-weight: 300;
    font-size: 20px;
    bottom: 0;
    left: 0;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}